@model DateTime?

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to Marcin D. Lib-App Project</h1>
    <br />
    <h3>Owner account</h3>
    <p>Email: owner@example.com</p>
    <p>Pasword: Start123!</p>
    <br />
    <h3>Store Manager account</h3>
    <p>Email: store.manager@example.com</p>
    <p>Pasword: Start123!</p>
    <br />
    <h3>User account</h3>
    <p>Email: user@example.com</p>
    <p>Pasword: Start123!</p>
</div>
